
.content_display
{
    padding-left: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-right: 2%;
    max-width: 500;
    margin: auto;
}

body {
  background-color: #3c3766;
  margin: 0;
  padding: 0;
}